<div class="breadcrumb">
  <%= link_to t('navigation.back_to_dashboard'), root_path, class: "back-link" %>
</div>

<div class="location-header">
  <h1><%= @location.name %></h1>
  <p class="barcode"><%= t('items.barcode') %>: <%= @location.barcode %></p>
  <% if @location.description.present? %>
    <p class="description"><%= @location.description %></p>
  <% end %>
  <p class="total-items"><%= t('locations.total_items') %>: <%= pluralize(@location.total_items, 'item') %></p>

  <% if @oldest_inventory_item && aging_enabled? %>
    <% days_stored = (Date.current - @oldest_inventory_item.added_at.to_date).to_i %>
    <p class="oldest-item-info">
      <%= t('locations.oldest_item') %>:
      <span class="storage-duration-badge <%= aging_css_class(days_stored) %>">
        <%= t('time.ago', time: "#{days_stored} #{days_stored == 1 ? t('time.days.one') : t('time.days.other')}") %>
      </span>
      (<%= link_to @oldest_inventory_item.item.name, item_path(@oldest_inventory_item.item.barcode), class: "item-link" %>)
    </p>
  <% end %>
</div>

<div class="location-contents">
  <h2><%= t('locations.contents') %></h2>

  <% if @inventory_items.any? %>
    <div class="items-grid">
      <% @inventory_items.each do |inventory_item| %>
        <div class="item-card">
          <div class="item-info">
            <h3><%= link_to inventory_item.item.name, item_path(inventory_item.item.barcode), class: "item-link" %></h3>
            <p class="barcode"><%= t('items.barcode') %>: <%= inventory_item.item.barcode %></p>
            <% if inventory_item.item.description.present? %>
              <p class="description"><%= inventory_item.item.description %></p>
            <% end %>
          </div>
          <div class="quantity-info">
            <span class="quantity"><%= inventory_item.quantity %></span>
            <span class="unit"><%= t('time.units') %></span>
          </div>
          <div class="timestamp">
            <% if aging_enabled? %>
              <% days_stored = (Date.current - inventory_item.added_at.to_date).to_i %>
              <span class="storage-duration-badge <%= aging_css_class(days_stored) %>">
                <%= days_stored %> <%= days_stored == 1 ? t('time.days.one') : t('time.days.other') %>
              </span>
              <br>
            <% end %>
            <small><%= t('items.added_ago', time: time_ago_in_words(inventory_item.added_at)) %></small>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      <h3><%= t('dashboard.empty_location', location: location_term.downcase) %></h3>
      <p><%= t('locations.no_items_in_location') %></p>
    </div>
  <% end %>
</div>
